/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
    max-width: 100vw;
}

h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

input[type="text"],
input[type="age"],
input[type="ville"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    border: 0;
    background: none;
    font-size: inherit;
}

*{
    box-sizing: border-box;
}

/* theme */
nav{
    display: inline-block;
    position: fixed;
    top: 0vh;
    left: 0vh;
    min-width: 100vw;
    max-width: 100vw;
    height: 8rem;
    background-color: #589DE1;
    box-shadow: 0px 5px 12px #5c5c5c;
    z-index: 100;
}
nav img{
    display: inline-block;
    margin-top: 0.3vh;
    margin-left: 1rem;
    max-width: 7rem;
}

nav h1{
    text-align: center;
    color: #ffffff;
    margin-top: -6vh;
    font-weight: bolder;
}

nav ul{
    text-align: right;
    margin-top: -3.5rem;
}

nav ul li{
    display: inline-block;
    margin-right: 2vh;
}


/* Nav menu buttons */
nav ul li a{
    padding: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    background-color: #1e2934;
}

/* CSS pour la page d'accueil */
h2{
    text-align: center;
    font-weight: bold;
}

.Accueil p{
    margin-top: 1vh;
}

.Accueil a{
    background-color: #589DE1;
    border: solid 2px #5d5c5c;
    border-radius: 10%;
    padding: .3rem;
    color: #ffffff;
    text-decoration: none;
}
/* Fin de la CSS pour la page d'accueil */

/* CSS pour la mise en forme des formulaires */

fieldset{
    position: relative;
    top: 2vmax;
    left: 50vw;
    width: 90rem;
    height: auto;
    border-radius: 1rem;
    border: solid .1rem hsl(221, 44%, 41%);
    transform: translate(-50%, 0);
}

fieldset legend{
    padding: 1rem;
    color: #ffffff;
    font-size: large;
    font-weight: bolder;
}

form *{
    display: block;
    padding: 1rem 0;
}

form input{
    width: 100%;
    line-height: 3.5rem;
    padding: .5rem;
}

input[type="text"],
input[type="age"],
input[type="ville"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    
    border-bottom: solid .1rem #ccc; 
    background: rgba(236, 232, 223, 0.6); 
    width: 100%;
    border-style: none;
}

form [placeholder]{
    font-style: italic;
    transition: all .6s ease-in-out;
}

form [placeholder]:focus{
    font-style: normal;
}

form input:focus:not(form input[type="submit"])
{
    outline: 0;
    box-shadow: 0 0 2rem rgb(96, 171, 252);
    width: 100%;
    border-bottom: solid .1rem rgb(79, 79, 79);
}

/* Bouton "envoyer" */
form input[type="submit"]{
   background-color: rgb(99, 141, 233);
    margin-top: 1rem;
    margin-left: 25rem;
    cursor: pointer;
    width: 35%;
    color: #fff;
    text-transform: uppercase;
    border-radius: .4rem;
}
/* Bouton "envoyer" */

/* Fin de la CSS pour les formulaires */


/* Début css pour la page affichant le membre connecté */
.membres h1{
    text-align: center;
}

.membres a{
    text-decoration: none;
    color: #ffffff;
}

.membres hr{
    max-width: 20vw;
}
/* Fin css pour la page affichant le membre connecté */


/* Début css pour la page du formulaire de publication d'évènements */
.evenement form{
    text-align: center;
}

.evenement textarea{
    width: 70rem;
    height: 10vh;
}

.evenement button{
    width: 5vw;
}
/* Fin css pour la page du formulaire de publication d'évènements */

h2.utilisateur{
    font-size: 60px;
}


/* Début css pour la page utilisateur */
.nvPub{
    margin-top: 5vh;
}

.nvPub a{
    font-size: 1.6rem;
    background-color: #589DE1;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1.5rem;
    text-decoration:none;
    z-index: 1;
}
/* Fin css pour la page utilisateur */


/* Début css pour la page évènements */
.publication{
    margin-top: -7vh;
    margin-left: 2vw;
}

.publication a{
    font-size: 1.6rem;
    background-color: #589DE1;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1.5rem;
    text-decoration:none;
    z-index: 1;
}
/* Fin css pour la page évènements */

.modifier{
    margin-top: 5rem;
    margin-left: 8vw;
}

.modifier a{
    font-size: 1.6rem;
    background-color: #589DE1;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1.5rem;
    text-decoration:none;
    z-index: 1;
}

#supprimer{
    font-size: 1.6rem;
    background-color: #589DE1;
    padding: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(112, 25, 25);
    font-weight: bold;
    border-radius: 1.5rem;
    margin-top: -2.9rem;
    margin-left: 42vw;
    border-color: transparent;
    z-index: 0;
}

/* Début Css pour la page de modification d'évènement */

.txtModifier{
    margin-left: 30vw;
}

.txtModifier textarea{
    background-color: #fff;
    width: 80rem;
    height: 20rem;
}

.btnModifier{
    margin-left: 47vw;
}

.btnModifier button{
    font-size: 1.6rem;
    background-color: #589DE1;
    padding: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(235, 235, 235);
    font-weight: bold;
    border-radius: 1.5rem;
    /* margin-top: -2.9rem;
    margin-left: 42vw; */
    border-color: transparent;
    z-index: 0;
}

/* Fin Css pour la page de modification d'évènement */

footer{
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 100vh;
}